<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다운로드</title>
</head>

<body>
    <h1>다운로드 테스트</h1>
    <hr />
    {{#list}}
    동물보호센터명 : {{careNm}}
    관리기관명 : {{orgNm}}
    동물보호센터유형 : {{divisionNm}}
    구조대상동물 : {{saveTrgtAnimal}}
    소재지 도로명 주소 : {{careAddr}}
    소재지 지번 주소 : {{jibunAddr}}
    평일운영시작시각 : {{weekOprStime}}
    평일운영종료시각 : {{weekOprEtime}}
    평일분양시작시각 : {{weekCellStime}}
    평일분양종료시각 : {{weekCellEtime}}
    주말운영시작시각 : {{weekendCellStime}}
    주말운영종료시각 : {{weekendCellEtime}}
    주말분양시작시각 : {{weekendOprStime}}
    주말분양종료시각 : {{weekendOprEtime}}
    휴무일 : {{closeDay}} 
    전화번호 :{{careTel}}
    <hr />
    {{/list}}
    
</body>

</html>